body {
  font-family: "Raleway", sans-serif;
}
.bg {
  background-image: url("../img/bg01.png");
}
.heroSection {
  background-image: url("../img/bg_hero.jpg");
  background-size: cover;
  background-position: center;
  background-position: 50% 50%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.icon {
  font-size: 30px;
}
