body {
  font-family: "Raleway", sans-serif;
}
.bg {
  background-image: url("../img/bg01.png");
}
.heroSection {
  background-image: url("../img/bg_hero.jpg");
  background-size: cover;
  background-position: left;
}
